*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbd376;
}

.container{
    position: relative;
    max-width: 1024px;
    max-height: 768px;
    padding: 10px;
    background-color: #a49e59;
}


.slider{
    overflow: hidden;
    display: flex;
}

img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
